/sample_data
/ehr-proc-venv
/patients
/legacy
/logs
/documents
/rlextra-examples
/docs-debug
/mappings_debug
/patients_debug
/my_notes
/synthea/output
/synthea/synthea-with-dependencies.jar
/synthea/resources
*:Zone.Identifier
/.env
/synthea/output_old