/sample_data
/ehr-proc-venv
/patients
/legacy
/logs
/documents
/rlextra-examples
/docs-debug
/mappings_debug
/patients_debug
/my_notes
/synthea/output
/synthea/synthea-with-dependencies.jar
/synthea/resources
*:Zone.Identifier
/.env
/synthea/output_deceased
/news
/webapp/patients/*
!/webapp/patients/current_run/
/webapp/patients/current_run/*
!/webapp/patients/current_run/full_patients/
/webapp/patients/current_run/full_patients/*
!/webapp/patients/current_run/full_patients/cohort.json
!/webapp/patients/current_run/full_patients/normalized_json/
/webapp/patients/current_run/full_patients/normalized_json/*
!/webapp/patients/current_run/full_patients/normalized_json/*.json
!/webapp/patients/current_run/full_patients/provenance/
/webapp/patients/current_run/full_patients/provenance/*
!/webapp/patients/current_run/full_patients/provenance/*.json
